/* #raceBtn {
    position: absolute;
    left: 150px;
    top: 100px;
}

#cancelBtn {
    position: absolute;
    left: 150px;
    top: 125px;
} 

#spaceShip1 {
    color: red;
    font-size: 50px;


}

#spaceShip2 {
    color: blue;
    font-size: 50px;

}

#spaceShip3 {
    color: green;
    font-size: 50px;

}

#spaceShip4 {
    color: orange;
    font-size: 50px;

}

#spaceShip5 {
    color: purple;
    font-size: 50px;

}

#spaceShip6 {
    color: purple;
    font-size: 50px;

}

#position1 {
    left: 0px;
    top: 150px;
    position: absolute;
}


#position2 {
    left: 0px;
    top: 250px;
    position: absolute;
}

#position3 {
    left: 0px;
    top: 350px;
    position: absolute;
}

#position4 {
    left: 0px;
    top: 450px;
    position: absolute;
}

#position5 {
    left: 0px;
    top: 550px;
    position: absolute;
}

#position6 {
    left: 0px;
    top: 650px;
    position: absolute;
} */